<div class="w-11/12 h-full flex justify-center items-center mx-auto">
    <div class="w-full h-5/6 relative border-4 border-amber-300">
        <div class="w-full h-full relative bg-gray-400 transform -skew-y-2 -skew-x-2 bg-opacity-30">     
        </div>
        <div class="w-11/12 h-5/6 absolute bg-white bg-opacity-75 left-2 right-2 top-4 bottom-4 lg:top-10 lg:left-10 lg:right-10 lg:bottom-10 mx-auto my-auto">
            
            <div class=" h-full w-full md:flex">
                <iframe class="h-1/2 w-11/12 mx-auto mt-4 rounded md:my-auto lg:mt-0 md:h-full md:flex-1 lg:bg-center lg:bg-cover" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31244.952645227095!2d108.49762880941253!3d11.791848464785748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31713e0cc77ef663%3A0x880cefd977dbadbd!2zTOG6oWMgTMOibSwgxJDGoW4gRMawxqFuZywgTMOibSDEkOG7k25nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1636415568950!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <div class="flex px-3 py-auto md:flex-col md:flex-1 md:my-auto md:px-10 space-y-3 mt-6 items-center lg:justify-center md:items-start lg:space-y-6">
                    <img src="assets/img/j-logo.svg" class="h-16 w-16 md:h-20 md:w-20">
                    <div class="ml-3 md:m-0 space-y-4">
                        <input class="hidden md:inline-block md:h-10 md:border md:border-gray-400 md:bg-amber-800 md:bg-opacity-30 md:rounded md:w-full md:py-2 md:px-3 md:text-gray-700 md:leading-tight md:text-lg" id="username" type="text" placeholder="Your Name">
                        <input class="h-8 text-sm md:h-10 border border-gray-400 bg-amber-800 bg-opacity-25 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline md:text-lg" id="email" type="email" placeholder="Your Email Address">
                        <input class="hidden md:inline-block md:h-10 md:border md:border-gray-400 md:bg-amber-800 md:bg-opacity-30 md:rounded md:w-full md:py-2 md:px-3 md:text-gray-700 md:leading-tight md:text-lg" id="mobile" type="number" placeholder="Mobile">
                        <input class="h-16 text-sm md:h-24 border border-gray-400 bg-amber-800 bg-opacity-25 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline md:text-lg" id="comment" type="text" placeholder="Comments">
                        <button
          type="button"
          routerLink="contact"
          class="
          md:hidden
          text-sm
          w-24
          p-2
            lg:text-3xl
            duration-500
            rounded-md
            text-white
            bg-amber-700
            transform
            hover:border-transparent hover:text-amber-500 hover:bg-gray-900
          "
        >
          Contact Me
        </button>
                      </div>
                    <button
          type="button"
          routerLink="contact"
          class="
          hidden
          md:inline-block
          text-xl
          lg:w-48
          w-36
          p-4
            lg:text-3xl
            duration-500
            rounded-2xl
            text-white
            bg-amber-700
            transform
            hover:border-transparent hover:text-amber-500 hover:bg-gray-900
          "
        >
          Contact Me
        </button>
                </div>   
            </div>
         </div>
    </div>
    </div>
    
    
     
    
