<nav class="flex items-center justify-between flex-wrap bg-black py-6 px-10">
    <div class="flex-initial flex items-center flex-shrink-0 text-white ">
      <img src="assets/img/f-logo.svg" class="h-20 fill-current"/>
      <span class="font-semibold text-4xl tracking-tight">My Site</span>
    </div>
    <div class="w-full hidden flex-grow justify-center items-center lg:flex lg:items-center lg:justify-center lg:w-auto ">
      <div class="text-2xl tracking-tight font-serif lg:flex-grow flex justify-center items-center">
        <a routerLink="" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          Home
        </a>
        <a routerLink="about" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          About
        </a>
        <a routerLink="skill" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          Skill
        </a>
        <a routerLink="blogs" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          Blog
        </a>
      </div>  
    </div>
    <div class="block lg:hidden">
      <button *ngIf="isShow" (click)="showList()" class="flex items-center px-3 py-2 border rounded text-amber-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
      <button *ngIf="!isShow" (click)="showList()" class="flex items-center px-3 py-2 border rounded text-amber-200 border-teal-400 hover:text-white hover:border-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-current h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"><title>Close Menu</title>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </button>
    </div>
    <div *ngIf="!isShow" class="w-full flex-grow justify-center items-center lg:hidden">
      <div class="text-2xl flex-1 tracking-tight font-serif lg:flex-grow">
        <a routerLink="" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          Home
        </a>
        <a routerLink="about" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          About
        </a>
        <a routerLink="skill" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          Skill
        </a>
        <a routerLink="blogs" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          Blog
        </a>
      </div>  
    </div> 
    <div class="hidden lg:flex">
        <button
        routerLink="contact"
            type="button"
            class="
              p-4
              transition
              duration-500
              ease-in-out
              text-2xl
              flex-1
              leading-none
              border-amber-400
              border-4
              rounded-full
              text-indigo-900
              bg-white
              transform
              hover:border-transparent
              hover:text-white
              hover:bg-amber-400
              hover:-translate-y-1
              hover:scale-110
              lg:mt-0
            "
          >
            Contact with Me
          </button>
      </div>
  </nav>