<nav class="flex items-center justify-between flex-wrap bg-black py-6 px-10">
    <div class="flex-1 flex items-center flex-shrink-0 text-white mr-6">
      <img src="assets/img/f-logo.svg" class="h-20 fill-current"/>
      <span class="font-semibold text-4xl tracking-tight">My Site</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-amber-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:justify-center lg:w-auto">
      <div class="text-2xl flex-1 tracking-tight font-serif lg:flex-grow">
        <a routerLink="" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
          Home
        </a>
        <a routerLink="about" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          About
        </a>
        <a routerLink="skill" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          Skill
        </a>
        <a routerLink="blogs" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white mr-12" routerLinkActive="active-link">
          Blog
        </a>
        <a routerLink="contact" class="block mt-4 lg:inline-block lg:mt-0 text-amber-600 hover:text-white" routerLinkActive="active-link">
            Contact
        </a>
      </div>  
    </div>
    <div>
        <button
            type="button"
            class="
              p-4
              transition
              duration-500
              ease-in-out
              text-2xl
              flex-1
              leading-none
              border-amber-400
              border-4
              rounded-full
              text-indigo-900
              bg-white
              transform
              hover:border-transparent
              hover:text-white
              hover:bg-amber-400
              hover:-translate-y-1
              hover:scale-110
              lg:mt-0
            "
          >
            Contact with Us
          </button>
      </div>
  </nav>