
<!-- <div class="overflow-hidden w-full h-full">
    <div id="slide-img">
        <div class="">
            <img src="assets/img/1.jpg">            
        </div>
        <div class="img-container">
            <img src="assets/img/2.jpg">
        </div>
            <div class="img-container">
                <img src="assets/img/3.jpg">
            </div>
            <div class="img-container">
                <img src="assets/img/4.jpg">
            </div>
    </div>
</div> -->
<div class="relative w-full h-full bg-1 bg-cover bg-center">
    <div class="absolute flex w-full flex-col text-white bottom-10 space-y-3">
            <span class="text-2xl md:text-5xl font-bold mx-auto">Lorem Ipsum</span>
            <span class="typing font-mono text-xl md:text-4xl font-bold mx-auto text-cyan-100">Junia right here.</span>
            <span class="font-sans text-xs md:text-lg mx-auto">Ut enim ad minim veniam, quis nostrud exercitation ullamco  </span>
            <span class="font-sans text-xs md:text-lg mx-auto">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</span>
    </div>
</div>
