<div class="w-11/12 h-full flex justify-center items-center mx-auto">
<div class="w-full h-5/6 relative border-4 border-amber-300">
    <div class="w-full h-full relative bg-gray-400 transform -skew-y-2 -skew-x-2 bg-opacity-30">     
    </div>
    <div class="w-11/12 h-5/6 absolute bg-white bg-opacity-75 top-10 left-10 right-10 bottom-10 mx-auto my-auto">
        <div class=" h-full w-full flex">
            <img src="assets/img/1.jpg" class="h-full w-full flex-1 bg-center bg-cover"> 
            <div class="flex-1 flex flex-col pl-10 justify-center space-y-6">
                <img src="assets/img/j-logo.svg" class="h-20 w-20">
                <p class="text-4xl font-bold">
                    Lorem ipsum
                </p>
                <p class="text-xl ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button
      type="button"
      routerLink="contact"
      class="
      w-48
      p-3
        text-3xl
        duration-500
        rounded-full
        text-white
        bg-amber-700
        transform
        hover:border-transparent hover:text-amber-500 hover:bg-gray-900
        lg:mt-0
      "
    >
      Contact Me
    </button>
            </div>   
        </div>
     </div>
</div>
</div>


 
