/* .slide {
    @apply relative flex-auto bg-cover bg-center transition-all duration-500 ease-in-out;
  }
.slide:hover {
    @apply flex-5;
} */
#slider{
  overflow: hidden;
}
#slider figure{
position: relative;
animation: 20s slider infinite;
}